* {
    margin-left: 7px;
    box-sizing: border-box;
}

body {
    background-color: #f2eeed;
    font-family: century gothic;
}

h1 {
    color: #612f98;
    font-family: monospace
}

p {
    color: #6e729f;
}

.dennis {
    margin-left: -1px;
    margin-top: -20px;
    float: left;
}

.dennis,p {
    margin-top: -5px;
}

.nick {
    margin-right: -5px;
    margin-top: -65px;
    float: left;
}

.alice {
    margin-right: -5px;
    margin-top: -65px;
    float: left;
}