* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2eeed;
    font-family: century gothic;
}

.logo h1 {
    color: white;
    font-family: Impact;
    text-align: center;
    font-size: 50px;
    margin-right: -500px;
}

p {
    color: #6e729f;
    margin-left: 20px;
    font-size: 20px;
}

.bruh button {
    background-color: #f2eeed;
    color: gray;
    border: 5px solid black;
    font-family: fantasy;
    font-size: 50px;
    box-shadow: 5px 5px 5px black;
    padding: 5px;
    border-radius: 500px;
}

.bruh button:active {
    margin-right: -5px;
    margin-bottom: -5px;
    box-shadow: 0px 0px 0px black;
    color: red;
}

figure {
    color: #612f98;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: auto;
    overflow: hidden;
    margin-left: 25px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-right: 2px solid #612f98;
    border-top: 2px solid #612f98
}
  
.navbar li a:hover {
    background-color: #612f98;
}

.navbar .active {
    background-color: #612f98;
}

.bruh {
    text-align: center;
    margin-top: 20px;
}

.backdrop {
    position: relative;
    color: white;
}

.backdrop p {
    margin-top: -50px;
    color: white;
}

.backdrop::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(bilder/akitadog.jpg);
    background-repeat: no-repeat;
    opacity: .6;
    content: "";
    z-index: -1;
    height: 500px;
    border-bottom: 5px solid black;
}

.bilder ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: -100px;
}

.bilder .flexbreak1 {
    flex-basis: 100%;
}