* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2eeed;
    font-family: century gothic;
}

.logo {
    color: #612f98;
    font-family: monospace;

}

p {
    color: #6e729f;
}

.logo h1 {
    color: #612f98;
    font-family: Impact;
    text-align: center;
    font-size: 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-right: 2px solid #612f98;
    border-top: 2px solid #612f98
}
  
.navbar li a:hover {
    background-color: #612f98;
}

.navbar .active {
    background-color: #612f98;
}
