* {
    margin-left: 7px;
    box-sizing: border-box;
}

body {
    background-color: #f2eeed;
    font-family: century gothic;
}

h1 {
    color: #612f98;
    font-family: monospace
}

p {
    color: #6e729f;
}