h1 {
	position: fixed;
	font-size: 30px;
	font-family: Verdana, Geneva, sans-serif;
}

.speeen {
	top: 200px; /* your required value */
  right: 100px;
	left: 500px;
  width: 300px;
  height: auto;
  position: fixed;
	animation-name: speen;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes speen {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
