body {
	background-image: url("https://www.3sat.de/assets/erling-kagge-bs-100~1920x1080?cb=1571309665818");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #FF0000;
	margin: 0 0 0 0;
	font-size: xx-large;
}

h2 {
	color: #FF0000;
	margin: 0 0 0 0;
	font-size: xx-large;
}

.bild1 {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

div.emoji {
    position: fixed;
    left: 1;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

img.emoji {
    max-width: 30%;
    max-height: 30%;
}