body {
	text-align: left;
	font-size: xx-large;
	background-image: url("https://i.pinimg.com/originals/69/99/c5/6999c5fddeb8a3fe2bc3012f2a67b3f8.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #FF0000;
	margin: 0 0 0 0;
}

h2 {
	color: #FF0000;
	margin: 0 0 0 0;
}

.bild1 {
	position: relative;
	;
}

