body {
	color: #FF0000;
	background-position: top fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("https://i.pinimg.com/originals/69/99/c5/6999c5fddeb8a3fe2bc3012f2a67b3f8.jpg");
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-right: 200px;
	margin-top: 100px;
}

h2 {
	margin-top: -25px;
	text-align: center;
	font-size: 35px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-right: 200px;
}

.bild1 {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

div.emoji {
    position: fixed;
    left: 1;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

img.emoji {
    max-width: 50%;
    max-height: 50%;
	margin-right: -100px;
	transform: rotate(25deg);
	animation: roll infinite;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	position: relative;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
