body {
	font-size: xx-large;
	color: #FF0000;
	background-image: url("https://www.3sat.de/assets/erling-kagge-bs-100~1920x1080?cb=1571309665818");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}
.bild1 {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

div.emoji {
    position: fixed;
    left: 1;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

img.emoji {
    max-width: 50%;
    max-height: 50%;
	margin-right: -150px;
}